<!-- The template to display files available for upload -->
<script id="${context}-template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload"></div>
{% } %}
</script>


